#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.pidb
*.userprefs
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#monodroid private beta
monodroid*.msi
/CompiledContent/Android/IgnoreMe.dll
/CompiledContent/OSX/IgnoreMe.dll
/CompiledContent/Windows8/IgnoreMe.dll
/CompiledContent/Windows/IgnoreMe.dll
*.cachefile
*.dll





# Misc
p2p_irc.userprefs
p2p_irc/ipch/
p2p_irc/obj/
p2p_irc/[Bb]in
p2p_irc/[Dd]ebug*/
p2p_irc/[Rr]elease*/
p2p_irc/[Bb]uild/
p2p_irc/_ReSharper*/
p2p_irc/Tt]est[Rr]esult*
chat_ui/ipch/
chat_ui/obj/
chat_ui/[Bb]in
chat_ui/[Dd]ebug*/
chat_ui/[Rr]elease*/
chat_ui/[Bb]uild/
chat_ui/_ReSharper*/
chat_ui/Tt]est[Rr]esult*
